<style type="text/css">
  .form-control{
    width: 29%;
    display: inline-block;
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Add INR Record</h3>
      <%= form_for @inr, url: create_inr_path(current_user, @inr) do |f| %>
      <%= f.label :inr_value %>
      <%= f.number_field :inr_value, :step => '0.1', class: "form-control" %>
      <%= f.label :date %>
      <%= f.text_field :date, 'data-provide': 'datepicker', class: 'form-control datepicker' %> 
      <%= f.submit "Add INR Record", class: "btn btn-default", style: "margin-top: -4px;" %>
      <% end %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Value</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <% @inr_records.each do |ir| %>
        <tr>
          <td>  <%= "#{ir.inr_value} " %> </td>
          <td><%= "#{ir.date}" %></td>
          <td><%= link_to "Delete", delete_inr_path(current_user, ir), method: "delete" %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-6" align="center">
      <%= render 'patients/graph' %>
    </div>

  </div>
</div>