<!-- PATIENTS OF DOCTOR -->
<% current_user.patients.each do |p| %>
	<%= link_to p.name, monitor_patient_path(current_user, p) %> 
<% end %>
<!-- PATIENTS OF DOCTOR -->

<!-- PATIENT INR RECORDS -->
<% @patient.inr_records.each do |ir| %>
	<p> <%= "Value: #{ir.inr_value}  Date: #{ir.date}" %> </p>
<% end %>
<!-- PATIENT INR RECORDS -->

<!-- HASTA PRESCRIPTION EKLEME ŞEYSİ -->
<p>Add Prescription</p>
<%= form_for @drug, url: create_prescription_path(current_user, @patient) do |f| %>
	<%= f.label :dosage %>
	<%= f.number_field :dosage, :step => '0.5' %>

	<%= f.label :date %>
	<%= f.text_field :date, 'data-provide': 'datepicker', class: 'datepicker' %> 

	<%= f.submit "Add Drug Prescription" %>
<% end %>
<!-- HASTA PRESCRIPTION EKLEME ŞEYSİ -->

<!-- HASTA PRESCRIPTIONS -->
<% @patient.drug_prescriptions.each do |dp| %>
<p> 
	<%= "Value: #{dp.dosage}  Date: #{dp.date}" %> 
	<%= link_to "Delete", delete_prescription_path(current_user, dp), method: "delete" %> 
</p>
<% end %>
<!-- HASTA PRESCRIPTIONS -->


