<style type="text/css">
   .messages-scroll{
      width: 100%;
      height: 50px;
      overflow: auto;
   }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
   <div class="row">
      <div class="col-md-12" align="center">
         <h1>        <%= image_tag(@patient.avatar.url(:thumb), :style => "border-radius: 50%; height: 100px; width: 100px;" ) %>
<%= @patient.fullname %> </h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6" align="center">
         <%= render 'patients/graph' %>
      </div>
      <div id="calendar" class="col-md-6">
         <h2 id="month">
         <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
         <%=h @date.strftime("%B %Y") %>
         <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
      </h2>
      <%= calendar_for @drug_prescriptions, :year => @date.year, :month => @date.month do |calendar| %>
      <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
      <%= calendar.day(:day_method => :date) do |date,drug_prescriptions| %>
      <%= date.day %>
      <ul>
         <% for drug_prescription in drug_prescriptions %>
         <%= form_for drug_prescription, url: update_prescription_path(current_user, drug_prescription) do |f| %>
         <li> <%= f.number_field :dosage, :step => '0.5', :style => "width: 100%;" %> <%= f.submit "Update", class: "btn btn-default"%> </li>
         <% end %>
         <% end %>
      </ul>
      <% end %>
      <% end %>
      <%= link_to "Back", monitor_patient_path(current_user, @patient), class: "btn btn-default", style: "width: 100%" %>

      </div>
   </div>

   <!-- RECOMMENDATION -->
   <div class="col-md-6">
      <hr/>
      <div class="panel with-nav-tabs panel-default">
         <div class="panel-heading">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#tab1default" data-toggle="tab">Recommendation</a></li>
            </ul>
         </div>
         <div class="panel-body">
            <div class="tab-content">
               <div class="tab-pane fade active in" id="tab1default">
                  <%= DoseAdvisor.advise(@patient) %>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- RECOMMENDATION -->
   
</div>
</div>

