<!DOCTYPE html>
<html>
<head>
  <title>HAPP</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="/images/logo.png" style="margin">

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if session[:user_type] == 'patient' %>
              <li><%= link_to "EMERGENCY", issue_emergency_path(current_user), method: "post", class: "emergency" %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if(current_user != nil) %>
                <%= image_tag(current_user.avatar.url(:thumb),  :style => "border-radius: 50%; height: 28px; width: 31px;" )%> <%= current_user.fullname[0,20] %> 
               <% end %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <% if session[:user_type] == 'patient' %>
                    <%= link_to_if(session[:user_type] == 'patient', "Edit Profile", edit_patient_path(current_user.id)) %>
                  <% elsif session[:user_type] == 'doctor' %>
                    <%= link_to_if(session[:user_type] == 'doctor', "Edit Profile", edit_doctor_path(current_user.id)) %>
                  <% end %>
                </li>  
                <li>
                  <%= link_to "Log Out", logout_path, method: "delete" %> 
                </li>  
              </ul>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<%= yield %>

</body>
</html>
